@using Public.Models
@{
    ViewBag.Title = "Quản lý tài liệu";
    var thaoTacs = Session["THAOTACs"] as List<ThaoTac>;
    Layout = "~/Views/_Shared/Admin/admin.cshtml";
}
@section hTitle {}
@section hBreadcrumb {
    <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Quản lý tài liệu</li>
}
@section styles {
    @*<link href="~/Content/Admin/QuanLyDangBai/quanlydangbai.css" rel="stylesheet" />*@
}
@section scripts {
    <script src="~/Content/Admin/QuanLyDangBai/quanlydangbai.js"></script>
    <script>
        var quanLyDangBai = new QuanLyDangBai();
        quanLyDangBai.init();
    </script>
}
<section class="section" page-group="page-group-quanlydangbai" id="page-quanlydangbai" data-aos="fade-up">
    <div class="card" intro-container="thanhtacvu">
        <div class="card-content">
            <div class="card-body" intro-container="thaotac-coban">
                <div class="btn-group btn-group-sm" role="group">
                    @{
                        if (thaoTacs.Exists(x => x.MaThaoTac == "quanlydangbai-themmoi"))
                        {
                            <!--Thêm mới-->
                            <a class="btn btn-success"><i class="bi bi-plus-circle-fill"></i></a>
                            <a class="btn btn-light-secondary"
                               onclick="quanLyDangBai.baiDang.displayModal_CRUD('create')">
                                Thêm mới
                            </a>
                        }
                        if (thaoTacs.Exists(x => x.MaThaoTac == "quanlydangbai-xoabo"))
                        {
                            <!--Xóa bỏ-->
                            <a class="btn btn-primary"><i class="bi bi-trash3-fill"></i></a>
                            <a class="btn btn-light-secondary"
                               onclick="quanLyDangBai.baiDang.delete('multiple')">
                                Xóa bỏ
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card" id="chiendich-getList-container"></div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card" id="baidang-getList-container"></div>
        </div>
    </div>
</section>
<!--baidang-crud-->
<div class="modal fade text-left" id="baidang-crud" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" removeBody="true">
</div>