<div class="list-group list-group-horizontal mb-1 text-center col-md-6 col-sm-12 justify-content-sm-start justify-content-center"
     id="tab-loaithongke" role="tablist">
    <a class="list-group-item list-group-item-action active" id="tongquan-getList-list"
       data-bs-toggle="list" href="#tongquan-getList" role="tab">Tổng quan</a>
    <a class="list-group-item list-group-item-action" id="chitiet-getList-list"
       data-bs-toggle="list" href="#chitiet-getList" role="tab">Chi tiết</a>
    <a class="list-group-item list-group-item-action" id="sosanh-getList-list"
       data-bs-toggle="list" href="#sosanh-getList" role="tab">So sánh</a>
</div>
<div class="tab-content text-justify mt-2">
    <div class="tab-pane fade show active py-2" id="tongquan-getList" role="tabpanel"
         aria-labelledby="tongquan-getList-list">
        <div class="row">
            <!--Loại thống kế-->
            <div class="col-sm-12 col-md-6">
                <div class="position-relative">
                    <div class="form-group mb-3">
                        <label class="" for="select-loaithongke">Chọn loại thống kê</label>
                        <select class="form-control form-select2"
                                id="select-loaithongke" name="select-loaithongke">
                            <option value="theonam" selected>Theo năm</option>
                            <option value="theothang">Theo tháng</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Thời gian-->
            <div class="col-sm-12 col-md-6">
                <div class="position-relative">
                    <div class="form-group">
                        <label class="">Thời gian</label>
                        <input type="text" class="form-control monthformat" placeholder="Nhập thông tin ..."
                               id="input-thoigian" name="input-thoigian"
                               value="@DateTime.Now.ToString("MM/yyyy")">
                    </div>
                </div>
            </div>
            <div class="col-12 py-2 text-center">
                <button type="button" class="btn btn-sm btn-primary ml-1 button-timkiem">
                    <span class="">Tìm kiếm</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="row py-2" id="tongquan-getList-container" style="max-height: 800px; overflow-y: scroll"></div>
    </div>
    <div class="tab-pane fade py-2" id="chitiet-getList" role="tabpanel"
         aria-labelledby="chitiet-getList-list">
        <div class="row">
            <!--Loại thống kê-->
            <div class="col-sm-12 col-md-4">
                <div class="position-relative">
                    <div class="form-group mb-3">
                        <label class="" for="select-loaithongke">Chọn loại thống kê</label>
                        <select class="form-control form-select2"
                                id="select-loaithongke" name="select-loaithongke"
                                onchange="quanLyDoanhThu.locThongTin.chonLoaiThongKe()">
                            <option value="NVKD" selected>Nhân viên kinh doanh</option>
                            @*<option value="sanpham">Sản phẩm</option>*@
                        </select>
                    </div>
                </div>
            </div>
            <!--Danh mục-->
            <div class="col-sm-12 col-md-4">
                <div class="position-relative">
                    <div class="form-group mb-3">
                        <label class="">Danh mục</label>
                        <div class="tree-select" id="treeSelect_danhmuc_container"></div>
                    </div>
                </div>
            </div>
            <!--Thời gian-->
            <div class="col-sm-12 col-md-4">
                <div class="position-relative">
                    <div class="form-group">
                        <label class="">Thời gian</label>
                        <input type="text" class="form-control monthformat" placeholder="Nhập thông tin ..."
                               id="input-thoigian" name="input-thoigian"
                               value="@DateTime.Now.ToString("MM/yyyy")">
                    </div>
                </div>
            </div>

            <div class="col-12 py-2 text-center">
                <button type="button" class="btn btn-sm btn-primary ml-1 button-timkiem">
                    <span class="">Tìm kiếm</span>
                </button>
                <button type="button" class="btn btn-sm btn-secondary ml-1 button-timkiem"
                        onclick="quanLyDoanhThu.thongKe.chiTiet.hienThiXemThongKeChiTiet()">
                    <span class="">Quay lại</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="row py-2">
            <div class="col-12" id="danhsachtheodanhmuc-container"></div>
            <div class="col-12" id="chitiet-container" style="max-height: 800px; overflow-y: scroll"></div>
        </div>
    </div>
    <div class="tab-pane fade py-2" id="sosanh-getList" role="tabpanel"
         aria-labelledby="sosanh-getList-list">
        <div class="row">
            <!--Loại thống kê-->
            <div class="col-sm-12 col-md-12">
                <div class="position-relative">
                    <div class="form-group mb-3">
                        <label class="" for="select-loaithongke">Chọn loại thống kê</label>
                        <select class="form-control form-select2"
                                id="select-loaithongke" name="select-loaithongke"
                                onchange="quanLyDoanhThu.locThongTin.chonLoaiThongKe()">
                            <option value="NVKD" selected>Nhân viên kinh doanh</option>
                            <option value="sanpham">Sản phẩm</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Danh mục-->
            <div class="col-sm-12 col-md-12">
                <div class="position-relative">
                    <div class="form-group mb-3">
                        <label class="">Danh mục</label>
                        <div class="tree-select" id="treeSelect_danhmuc_container"></div>
                    </div>
                </div>
            </div>
            <!--Thời gian 1-->
            <div class="col-sm-12 col-md-6">
                <div class="position-relative">
                    <div class="form-group">
                        <label class="">Thời gian 1</label>
                        <input type="text" class="form-control monthformat" placeholder="Nhập thông tin ..."
                               id="input-thoigian-1" name="input-thoigian-1"
                               value="@DateTime.Now.ToString("MM/yyyy")">
                    </div>
                </div>
            </div>
            <!--Thời gian 2-->
            <div class="col-sm-12 col-md-6">
                <div class="position-relative">
                    <div class="form-group">
                        <label class="">Thời gian 2</label>
                        <input type="text" class="form-control monthformat" placeholder="Nhập thông tin ..."
                               id="input-thoigian-2" name="input-thoigian-2"
                               value="@DateTime.Now.ToString("MM/yyyy")">
                    </div>
                </div>
            </div>
            <div class="col-12 py-2 text-center">
                <button type="button" class="btn btn-sm btn-primary ml-1 button-timkiem">
                    <span class="">Tìm kiếm</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="row py-2" id="sosanh-getList-container" style="max-height: 800px; overflow-y: scroll"></div>
    </div>
</div>