@{
    ViewBag.Title = "Đổi mật khẩu lần đầu";
    Layout = "~/Views/Auth/auth.cshtml";
}
<h1 class="auth-title">Đổi mật khẩu lần đầu</h1>

<div class="row" id="form-changepass">
    <div class="col-12" id="thongtin-container">
        <div class="row">
            <div class="col-12">
                <div class="position-relative">
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" class="form-control form-control-xl" placeholder="Mật khẩu mới ..."
                               id="input-matkhau-moi" name="input-matkhau-moi"  required>
                        <div class="form-control-icon"><i class="bi bi-key"></i></div>
                        <div class="invalid-feedback feedback" for="input-matkhau-moi">Không được để trống</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="position-relative">
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" class="form-control form-control-xl" placeholder="Nhập lại mật khẩu ..."
                               id="input-matkhau-moi-xacnhan" name="input-matkhau-moi-xacnhan" required>
                        <div class="form-control-icon"><i class="bi bi-key"></i></div>
                        <div class="invalid-feedback feedback" for="input-matkhau-moi-xacnhan">Không được để trống</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-check form-check-lg d-flex align-items-end">
                    <input class="form-check-input form-check-success me-2" type="checkbox" id="input-check-dodaitoithieu" disabled>
                    <label class="form-check-label text-white">
                        Độ dài tối thiểu 8 ký tự
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="form-check form-check-lg d-flex align-items-end">
                    <input class="form-check-input form-check-success me-2" type="checkbox" id="input-check-inthuong" disabled>
                    <label class="form-check-label text-white">
                        Phải chứa ký tự in thường
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="form-check form-check-lg d-flex align-items-end">
                    <input class="form-check-input form-check-success me-2" type="checkbox" id="input-check-inhoa" disabled>
                    <label class="form-check-label text-white">
                        Phải chứa ký tự in hoa
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="form-check form-check-lg d-flex align-items-end">
                    <input class="form-check-input form-check-success me-2" type="checkbox" id="input-check-kytuso" disabled>
                    <label class="form-check-label text-white">
                        Phải chứa ký tự số
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="form-check form-check-lg d-flex align-items-end">
                    <input class="form-check-input form-check-success me-2" type="checkbox" id="input-check-kytudacbiet" disabled>
                    <label class="form-check-label text-white">
                        Phải chứa ký tự đặc biệt
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-primary btn-block btn-lg box-shadow font-bold w-100" id="btn-doimatkhau" onclick="doiMatKhau.doiMatKhau()">Đăng nhập</button>
    </div>
</div>
