@using Auth.Models
@model Auth.Models.ForgotM
<div class="row">
    <div class="col-12" style="text-align: center;">
        <h2 style="background-color: gray; padding: 1rem;">@Model.MaXacNhan</h2>
    </div>
    <hr />
    @Html.Partial("~/Views/_Shared/Mail/mail-footer.cshtml")
</div>