<div class="col-12 noidung-hoithoai-container position-relative">
    @*<div class="text-center noidung-xemthem">
        <a class="c-pointer" onclick="signalR.cuonXuongCuoi()">
            <small class="badge bg-primary">Tin cũ hơn</small>
        </a>
    </div>*@
    <div class="text-center noidung-xuongcuoi">
        <a class="c-pointer" onclick="signalR.cuonXuongCuoi()">
            <small class="badge bg-primary">Tin mới nhất</small>
        </a>
    </div>
    <div class="noidung-hoithoai row d-block"></div>
</div>
<div class="col-12 p-0 pt-1">
    <div class="input-group">
        <textarea class="form-control max-h-100 noidung-gui" rows="1" placeholder="Aa..."></textarea>
        <a class="input-group-text guitinnhan">
            <i class="bi bi-arrow-right-circle"></i>
        </a>
    </div>
</div>