@using Public.Models
@model Applications.QuanLyAIBot.Dtos.Index_OutPut_Dto
@{
    ViewBag.Title = "Quản lý AI Bot";
    Layout = "~/Views/_Shared/Admin/admin.cshtml";
}
@section hTitle {}
@section hBreadcrumb {
    <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Quản lý AI Bot</li>
}
@section styles {
    @*<link href="~/Content/Admin/QuanLyAIBot/quanlyaibot.css" rel="stylesheet" />*@
}
@section scripts {
    <script src="~/Content/Admin/QuanLyAIBot/quanlyaibot.js"></script>
    <script>
        var quanLyAIBot = new QuanLyAIBot();
        quanLyAIBot.init();
    </script>
}
<section class="section" page-group="page-group-quanlyaibot" id="page-quanlyaibot" data-aos="fade-up">
    <div class="card">
        <div class="card-body">
            @Html.Partial("~/Views/Admin/QuanLyAIBot/quanlyaibot-tab/tab.cshtml", Model)
        </div>
    </div>
</section>
<!--aibot-crud-->
<div class="modal fade text-left" id="aibot-crud" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" removeBody="true">
</div>
<!--loaiaibot-crud-->
<div class="modal fade text-left" id="loaiaibot-crud" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" removeBody="true">
</div>