<div class="card-content">
    @*<div class="mb-2 toggle-vis-bar">
            Hiển thị:
            <a href="#" class="toggle-vis" data-table="pdf-getList" data-column="2">Tác vụ</a>
        </div>*@
    <table class="table table-hover table-bordered w-100 table-sticky" id="history-getList" data-page-length="10">
        <thead style="white-space: nowrap !important">
            <tr>
                <th class="text-center" data-orderable="false"></th>
                <th class="text-center">Thời gian</th>
                <th class="text-center">Tên chức năng</th>
                <th class="text-center">Nội dung</th>
                <th class="text-center">Người thực hiện</th>
                <th class="text-center">Đơn vị</th>
                @*<th class="text-center" data-orderable="false">Tác vụ</th>*@
            </tr>
        </thead>
        <tfoot class="show-footer-above">
            <tr>
                <th class="text-center"><input class="form-check-input checkAll-history-getList" type="checkbox" title="Chọn tất cả" /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                @*<th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>*@
            </tr>
        </tfoot>
    </table>
</div>