<div class="row" intro-container="thongtin-chung">
    <!--Id-->
    <input id="input-idbaidang" value="@Guid.Empty" hidden />

    <!--Nội dung-->
    <div class="col-12 col-sm-12 col-md-12">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="S" for="input-noidung">Từ khóa</label>
                <textarea class="form-control min-h-100 max-h-300" id="input-noidung" rows="2"
                          placeholder="Nhập từ khóa: Công nghệ, Thời trang, Mỹ phẩm, ..."></textarea>
                <a class="btn btn-sm btn-success" id="btn-taonoidung-ai"
                   style="position: absolute; z-index: 1; right: .6rem; top: 2rem;"
                   onclick="quanLyBaiDang.baiDang.handleAI.taoNoiDungAI()">
                    <i class="bi bi-fast-forward-fill"></i>
                </a>
                <div class="invalid-feedback feedback" for="input-noidung">Không được để trống</div>
            </div>
        </div>
    </div>
    <!--Nội dung-->
    <div class="col-12 col-sm-12 col-md-12">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="input-noidung-ai">Nội dung</label>
                <textarea class="form-control min-h-100 max-h-300" id="input-noidung-ai" rows="2"
                          placeholder="Nhấn mũi tên để AI tiến hành tạo nội dung ..." required></textarea>
                <div class="invalid-feedback feedback" for="input-noidung-ai">Không được để trống</div>
            </div>
        </div>
    </div>
    <!--Thời gian-->
    <div class="col-12 col-sm-12 col-md-12">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="input-thoigian">Thời gian</label>
                @{
                    var minTime = DateTime.Now.AddHours(1).ToString("yyyy-MM-ddTHH:mm");
                }
                <input type="datetime-local" class="form-control input-thoigian"
                       id="input-thoigian"
                       name="input-thoigian"
                       min="@minTime"
                       required />
                <div class="invalid-feedback feedback" for="input-thoigian">Không được để trống</div>
            </div>
        </div>
    </div>
</div>
