@{
    Layout = null;
    string tempPath = "/Assets/templates/assets";
    string title = ViewBag.Title ?? "";
    string fanpageURL = "https://www.facebook.com/vietgenacademy";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@(title == "" ? "PostPilot" : String.Format("PostPilot - {0}", title))</title>

<meta name="description"
      content="PostPilot - Địa chỉ hàng đầu cho dịch vụ gia sư online 1:1 ngoại ngữ. Với đội ngũ giáo viên chất lượng và phương pháp học tiên tiến, chúng tôi cam kết mang lại trải nghiệm học tập tốt nhất cho học viên. Đăng ký ngay để khám phá sự tiến bộ trong việc học ngoại ngữ với PostPilot!">
<meta name="keywords" content="Học tiếng Anh trực tuyến, Học tiếng Đức trực tuyến, Gia sư tiếng Anh cá nhân, Gia sư tiếng Đức cá nhân, Bài học tiếng Anh một kèm một trực tuyến, Bài học tiếng Đức một kèm một trực tuyến, Giảm giá gia sư" />
<meta name=" robots" content="index, follow">
<meta name="author" content="PostPilot">
<meta name=generator content="PostPilot SEO Optimize Theme">
<meta name="theme-name" content="PostPilot" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>PostPilot - Hệ thống gia sư trực tuyến hàng đầu</title>
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.vietgenacademy.edu.vn">
<meta property="og:title" content="PostPilot - Hệ thống gia sư trực tuyến hàng đầu">
<meta property="og:description"
      content="PostPilot - Địa chỉ hàng đầu cho dịch vụ gia sư online 1:1 ngoại ngữ. Với đội ngũ giáo viên chất lượng và phương pháp học tiên tiến, chúng tôi cam kết mang lại trải nghiệm học tập tốt nhất cho học viên. Đăng ký ngay để khám phá sự tiến bộ trong việc học ngoại ngữ với PostPilot!">
<meta property="og:image" content="/images/social-logo.png">
<meta property="og:site_name" content="PostPilot">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.vietgenacademy.edu.vn">
<meta property="twitter:title" content="PostPilot - Hệ thống gia sư trực tuyến hàng đầu">
<meta property="twitter:description"
      content="PostPilot - Địa chỉ hàng đầu cho dịch vụ gia sư online 1:1 ngoại ngữ. Với đội ngũ giáo viên chất lượng và phương pháp học tiên tiến, chúng tôi cam kết mang lại trải nghiệm học tập tốt nhất cho học viên. Đăng ký ngay để khám phá sự tiến bộ trong việc học ngoại ngữ với PostPilot!">
<meta property="twitter:image" content="/images/social-logo.png">
<meta property="twitter:site" content="@fanpageURL">

<!-- Instagram -->
<meta property="instagram:card" content="summary_large_image">
<meta property="instagram:url" content="https://www.vietgenacademy.edu.vn">
<meta property="instagram:title" content="PostPilot - Hệ thống gia sư trực tuyến hàng đầu">
<meta property="instagram:description"
      content="PostPilot - Địa chỉ hàng đầu cho dịch vụ gia sư online 1:1 ngoại ngữ. Với đội ngũ giáo viên chất lượng và phương pháp học tiên tiến, chúng tôi cam kết mang lại trải nghiệm học tập tốt nhất cho học viên. Đăng ký ngay để khám phá sự tiến bộ trong việc học ngoại ngữ với PostPilot!">
<meta property="instagram:image" content="/images/social-logo.png">
<meta property="instagram:site" content="@fanpageURL">

<!-- LinkedIn -->
<meta property="linkedin:title" content="PostPilot - Hệ thống gia sư trực tuyến hàng đầu">
<meta property="linkedin:description"
      content="PostPilot - Địa chỉ hàng đầu cho dịch vụ gia sư online 1:1 ngoại ngữ. Với đội ngũ giáo viên chất lượng và phương pháp học tiên tiến, chúng tôi cam kết mang lại trải nghiệm học tập tốt nhất cho học viên. Đăng ký ngay để khám phá sự tiến bộ trong việc học ngoại ngữ với PostPilot!">
<meta property="linkedin:image" content="/images/social-logo.png">

<!-- Pinterest -->
<meta property="pinterest:title" content="PostPilot - Hệ thống gia sư trực tuyến hàng đầu">
<meta property="pinterest:description"
      content="PostPilot - Địa chỉ hàng đầu cho dịch vụ gia sư online 1:1 ngoại ngữ. Với đội ngũ giáo viên chất lượng và phương pháp học tiên tiến, chúng tôi cam kết mang lại trải nghiệm học tập tốt nhất cho học viên. Đăng ký ngay để khám phá sự tiến bộ trong việc học ngoại ngữ với PostPilot!">
<meta property="pinterest:image" content="/images/social-logo.png">

<!--Geo-->
<meta name="geo.region" content="VN">
<meta name="geo.placename" content="Hanoi">
<meta name="geo.position" content="21.0285;105.8542">
<meta name="ICBM" content="21.0285, 105.8542">

<link class="favicon" rel="icon" type="image/png" href="~/Assets/images/favicon.png">

<!--lib.ico-->
<link href="~/Assets/images/logo-img.ico" rel="shortcut icon" type="image/x-icon">
<link href="~/Assets/images/logo-img.ico" rel="shortcut icon" type="image/png">
<!--lib.template-->
<link href="@tempPath/css/main/app.css" rel="stylesheet">
<link href="@tempPath/css/main/app-dark.css" rel="stylesheet">
<link href="@tempPath/css/shared/iconly.css" rel="stylesheet">
<!--lib.template-choices-->
<link href="@tempPath/extensions/choices.js/public/assets/styles/choices.css" rel="stylesheet">
<!--lib.fancytree-->
@*<link href="@tempPath/extensions/fancytree-2.38.3/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet" />*@
<!--lib.select2-->
<link href="@tempPath/extensions/select2/select2-4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="@tempPath/extensions/select2/select2-bootstrap-5-theme-master/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
<!--lib.treeselect-js-->
<link href="@tempPath/extensions/treeselectjs-main/treeselectjs.css" rel="stylesheet" />
<!--lib.toastify-->
<link href="@tempPath/extensions/toastify-js/src/toastify.min.css" rel="stylesheet" />
<!--lib.aos-->
<link href="@tempPath/extensions/aos/aos.css" rel="stylesheet" />
<!--lib.introjs-->
<link href="@tempPath/extensions/introjs/intro.min.css" rel="stylesheet" />
<!--lib.datatables-->
<link href="@tempPath/extensions/DataTables/datatables.min.css" rel="stylesheet" />
<!--lib.viewer-->
@*<link href="@tempPath/extensions/viewerjs/viewer.css" rel="stylesheet" />*@
<!--lib.custom-->
<link href="~/Content/_Shared/_shared.css" rel="stylesheet" />
<link href="~/Content/Admin/__Home/Messenger/messenger.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
