    <!-- Breadcumb Section Start -->
<div class="breadcrumb-wrapper">
    <div class="book1">
        <img src="assets/img/hero/book1.png" alt="book">
    </div>
    <div class="book2">
        <img src="assets/img/hero/book2.png" alt="book">
    </div>
    <div class="container">
        <div class="page-heading">
            <h1>Author Profile</h1>
            <div class="page-header">
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        Author Profile
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Team Details Section Start -->
<section class="team-details-section fix section-padding">
    <div class="container">
        <div class="team-details-wrapper">
            <div class="team-details-items">
                <div class="details-image wow fadeInUp" data-wow-delay=".3s">
                    <img src="assets/img/team/details.png" alt="img">
                </div>
                <div class="details-content wow fadeInUp" data-wow-delay=".5s">
                    <h3>Author: Wade Warren</h3>
                    <span>United State of America</span>
                    <div class="social-icon d-flex align-items-center">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <p class="wow fadeInUp" data-wow-delay=".7s">
                Morbi cursus enim in consequat suscipit. Quisque id dui ante. Praesent auctor sed velit ac aliquet.
                Morbi consectetur sem nec ipsum malesuada, ut gravida nisl molestie. Proin hendrerit ullamcorper
                dui.
            </p>
            <div class="details-counter-area">
                <div class="counter-items wow fadeInUp" data-wow-delay=".3s">
                    <h2><span class="count">4</span>+</h2>
                    <p>Books</p>
                </div>
                <div class="counter-items wow fadeInUp" data-wow-delay=".5s">
                    <h2><span class="count">100</span>+</h2>
                    <p>Seles</p>
                </div>
                <div class="counter-items wow fadeInUp" data-wow-delay=".7s">
                    <h2><span class="count">90</span>+</h2>
                    <p>Review</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shop Section Start -->
<section class="shop-section section-padding fix pt-0">
    <div class="container">
        <div class="section-title wow fadeInUp" data-wow-delay=".3s">
            <h2>Books By Wade Warren</h2>
        </div>
        <div class="swiper book-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="shop-box-items style-2">
                        <div class="book-thumb center">
                            <a href="shop-details"><img src="assets/img/book/01.png" alt="img"></a>
                            <ul class="post-box">
                                <li>
                                    Hot
                                </li>
                                <li>
                                    -30%
                                </li>
                            </ul>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                                </li>
                                <li>
                                    <a href="shop-cart.html">

                                        <img class="icon" src="assets/img/icon/shuffle.svg" alt="svg-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="shop-details.html"><i class="far fa-eye"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h5> Design Low Book </h5>
                            <h3><a href="shop-details.html">Simple Things You To <br> Save BOOK</a></h3>
                            <ul class="price-list">
                                <li>$30.00</li>
                                <li>
                                    <del>$39.99</del>
                                </li>
                            </ul>
                            <ul class="author-post">
                                <li class="authot-list">
                                    <span class="thumb">
                                        <img src="assets/img/testimonial/client-1.png" alt="img">
                                    </span>
                                    <span class="content">Wilson</span>
                                </li>

                                <li class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-button">
                            <a href="shop-details.html" class="theme-btn">
                                <i class="fa-solid fa-basket-shopping"></i> Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop-box-items style-2">
                        <div class="book-thumb center">
                            <a href="shop-details"><img src="assets/img/book/02.png" alt="img"></a>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                                </li>
                                <li>
                                    <a href="shop-cart.html">

                                        <img class="icon" src="assets/img/icon/shuffle.svg" alt="svg-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="shop-details.html"><i class="far fa-eye"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h5> Design Low Book </h5>
                            <h3><a href="shop-details.html">How Deal With Very <br> Bad BOOK</a></h3>
                            <ul class="price-list">
                                <li>$30.00</li>
                                <li>
                                    <del>$39.99</del>
                                </li>
                            </ul>
                            <ul class="author-post">
                                <li class="authot-list">
                                    <span class="thumb">
                                        <img src="assets/img/testimonial/client-2.png" alt="img">
                                    </span>
                                    <span class="content">Alexander</span>
                                </li>

                                <li class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-button">
                            <a href="shop-details.html" class="theme-btn">
                                <i class="fa-solid fa-basket-shopping"></i> Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop-box-items style-2">
                        <div class="book-thumb center">
                            <a href="shop-details"><img src="assets/img/book/03.png" alt="img"></a>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                                </li>
                                <li>
                                    <a href="shop-cart.html">

                                        <img class="icon" src="assets/img/icon/shuffle.svg" alt="svg-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="shop-details.html"><i class="far fa-eye"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h5> Design Low Book </h5>
                            <h3><a href="shop-details.html">Qple GPad With Retina <br> Sisplay</a></h3>
                            <ul class="price-list">
                                <li>$30.00</li>
                                <li>
                                    <del>$39.99</del>
                                </li>
                            </ul>
                            <ul class="author-post">
                                <li class="authot-list">
                                    <span class="thumb">
                                        <img src="assets/img/testimonial/client-3.png" alt="img">
                                    </span>
                                    <span class="content">Esther</span>
                                </li>

                                <li class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-button">
                            <a href="shop-details.html" class="theme-btn">
                                <i class="fa-solid fa-basket-shopping"></i> Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop-box-items style-2">
                        <div class="book-thumb center">
                            <a href="shop-details"><img src="assets/img/book/04.png" alt="img"></a>
                            <ul class="post-box">
                                <li>
                                    Hot
                                </li>
                            </ul>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                                </li>
                                <li>
                                    <a href="shop-cart.html">

                                        <img class="icon" src="assets/img/icon/shuffle.svg" alt="svg-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="shop-details.html"><i class="far fa-eye"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h5> Design Low Book </h5>
                            <h3><a href="shop-details.html">Qple GPad With Retina <br> Sisplay</a></h3>
                            <ul class="price-list">
                                <li>$30.00</li>
                                <li>
                                    <del>$39.99</del>
                                </li>
                            </ul>
                            <ul class="author-post">
                                <li class="authot-list">
                                    <span class="thumb">
                                        <img src="assets/img/testimonial/client-4.png" alt="img">
                                    </span>
                                    <span class="content">Hawkins</span>
                                </li>

                                <li class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-button">
                            <a href="shop-details.html" class="theme-btn">
                                <i class="fa-solid fa-basket-shopping"></i> Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop-box-items style-2">
                        <div class="book-thumb center">
                            <a href="shop-details"><img src="assets/img/book/05.png" alt="img"></a>
                            <ul class="shop-icon d-grid justify-content-center align-items-center">
                                <li>
                                    <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                                </li>
                                <li>
                                    <a href="shop-cart.html">

                                        <img class="icon" src="assets/img/icon/shuffle.svg" alt="svg-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="shop-details.html"><i class="far fa-eye"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h5> Design Low Book </h5>
                            <h3><a href="shop-details.html">Simple Things You To <br> Save BOOK</a></h3>
                            <ul class="price-list">
                                <li>$30.00</li>
                                <li>
                                    <del>$39.99</del>
                                </li>
                            </ul>
                            <ul class="author-post">
                                <li class="authot-list">
                                    <span class="thumb">
                                        <img src="assets/img/testimonial/client-5.png" alt="img">
                                    </span>
                                    <span class="content">(Author) Albert</span>
                                </li>

                                <li class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-button">
                            <a href="shop-details.html" class="theme-btn">
                                <i class="fa-solid fa-basket-shopping"></i> Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
