<div class="card-content">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-bordered w-100">
                    <thead>
                        <tr data-bs-toggle="collapse" href="#locthongtin-container">
                            <th class="text-center">
                                Lọc hồ sơ theo tiêu chí <span class="text-danger fst-italic">(Nhấn để xem chi tiết)</span>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row collapse" id="locthongtin-container">
            <div class="col-sm-12 col-md-6">
                <div id="treeSelect_vitriluutru_container"></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="treeSelect_danhmuchoso_container"></div>
            </div>
        </div>
    </div>
</div>