@using Public.Models
@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/_Shared/Admin/admin.cshtml";
}
@section hTitle {}
@section hBreadcrumb {
    <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thông tin tài khoản</li>
}
@section scripts {
    <script src="~/Content/Admin/__Home/AccountInfo/accountinfo.js"></script>
    <script>
        var ai = new AccountInfo();
        ai.init();
        ai.nguoiDung.getList();
    </script>
}
<section class="section" page-group="page-group-info" id="page-account" data-aos="fade-up">
    <div class="card" id="accountinfo-getList"></div>
</section>

