.auth-title, .auth-subtitle {
    text-align: center;
}

/*footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url('../../images/bg/bg-footer.png');
    background-size: cover;
    color: #fff;
}*/
