@using Public.Models
@model Applications.QuanLyBaiDang.Dtos.Index_OutPut_Dto
@{
    ViewBag.Title = "Quản lý bài đăng";
    Layout = "~/Views/_Shared/Admin/admin.cshtml";
    var thaoTacs = Session["THAOTACs"] as List<ThaoTac>;
}
@section hTitle {}
@section hBreadcrumb {
    <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="~/QuanLyChienDich/Index">Quản lý chiến dịch</a></li>
    <li class="breadcrumb-item active" aria-current="page">@string.Format("{0}", Model.ChienDich.TenChienDich)</li>
}
@section styles {
    @*<link href="~/Content/Admin/QuanLyBaiDang/quanlybaidang.css" rel="stylesheet" />*@
}
@section scripts {
    <script src="~/Content/Admin/QuanLyBaiDang/quanlybaidang.js"></script>
    <script>
        var quanLyBaiDang = new QuanLyBaiDang();
        quanLyBaiDang.init();
    </script>
}
<section class="section" page-group="page-group-quanlybaidang" id="page-quanlybaidang" data-aos="fade-up">
    <div class="card">
        <div class="card-body">
            @Html.Partial("~/Views/Admin/QuanLyBaiDang/quanlybaidang-tab/tab.cshtml")
        </div>
    </div>
</section>
<!--baidang-crud-->
<div class="modal fade text-left" id="baidang-crud" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" removeBody="true">
</div>
<!--chiendich-crud-->
<div class="modal fade text-left" id="chiendich-crud" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" removeBody="true">
</div>
@Html.Partial("~/Views/Admin/QuanLyBaiDang/baidang-crud/baidang-crud-capnhattruong.cshtml")