@{
    Layout = null;
    string tempPath = "/Assets/TrangTaiLieu/assets";

    string title = ViewBag.Title ?? "";
    string fanpageURL = "https://www.facebook.com/vietgeneducation";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@(title == "" ? "VIETGEN EDU" : String.Format("VIETGEN EDU - {0}", title))</title>

<meta name="description"
      content="VIETGEN EDU - Nền tảng hàng đầu cung cấp tài liệu, sách tiếng Đức và tiếng Anh. Chúng tôi mang đến nguồn tài liệu phong phú, cập nhật và phù hợp với mọi trình độ. Khám phá ngay kho tài liệu ngoại ngữ chất lượng cao cùng VIETGEN EDU!">
<meta name="keywords" content="Sách tiếng Anh, Sách tiếng Đức, Tài liệu học tiếng Anh, Tài liệu học tiếng Đức, Tài liệu ôn thi tiếng Anh, Tài liệu ôn thi tiếng Đức, Giáo trình tiếng Anh, Giáo trình tiếng Đức, Học ngoại ngữ hiệu quả" />
<meta name="robots" content="index, follow">
<meta name="author" content="VIETGEN EDU">
<meta name="generator" content="VIETGEN EDU SEO Optimize Theme">
<meta name="theme-name" content="VIETGEN EDU" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>VIETGEN EDU - Kho tài liệu tiếng Anh & tiếng Đức chất lượng</title>
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.vietgenedu.com">
<meta property="og:title" content="VIETGEN EDU - Kho tài liệu tiếng Anh & tiếng Đức chất lượng">
<meta property="og:description"
      content="VIETGEN EDU - Nền tảng hàng đầu cung cấp tài liệu, sách tiếng Đức và tiếng Anh. Chúng tôi mang đến nguồn tài liệu phong phú, cập nhật và phù hợp với mọi trình độ. Khám phá ngay kho tài liệu ngoại ngữ chất lượng cao cùng VIETGEN EDU!">
<meta property="og:image" content="/images/social-logo.png">
<meta property="og:site_name" content="VIETGEN EDU">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.vietgenedu.com">
<meta property="twitter:title" content="VIETGEN EDU - Kho tài liệu tiếng Anh & tiếng Đức chất lượng">
<meta property="twitter:description"
      content="VIETGEN EDU - Nền tảng hàng đầu cung cấp tài liệu, sách tiếng Đức và tiếng Anh. Chúng tôi mang đến nguồn tài liệu phong phú, cập nhật và phù hợp với mọi trình độ. Khám phá ngay kho tài liệu ngoại ngữ chất lượng cao cùng VIETGEN EDU!">
<meta property="twitter:image" content="/images/social-logo.png">
<meta property="twitter:site" content="@fanpageURL">

<!-- Instagram -->
<meta property="instagram:card" content="summary_large_image">
<meta property="instagram:url" content="https://www.vietgenedu.com">
<meta property="instagram:title" content="VIETGEN EDU - Kho tài liệu tiếng Anh & tiếng Đức chất lượng">
<meta property="instagram:description"
      content="VIETGEN EDU - Nền tảng hàng đầu cung cấp tài liệu, sách tiếng Đức và tiếng Anh. Chúng tôi mang đến nguồn tài liệu phong phú, cập nhật và phù hợp với mọi trình độ. Khám phá ngay kho tài liệu ngoại ngữ chất lượng cao cùng VIETGEN EDU!">
<meta property="instagram:image" content="/images/social-logo.png">
<meta property="instagram:site" content="@fanpageURL">

<!-- LinkedIn -->
<meta property="linkedin:title" content="VIETGEN EDU - Kho tài liệu tiếng Anh & tiếng Đức chất lượng">
<meta property="linkedin:description"
      content="VIETGEN EDU - Nền tảng hàng đầu cung cấp tài liệu, sách tiếng Đức và tiếng Anh. Chúng tôi mang đến nguồn tài liệu phong phú, cập nhật và phù hợp với mọi trình độ. Khám phá ngay kho tài liệu ngoại ngữ chất lượng cao cùng VIETGEN EDU!">
<meta property="linkedin:image" content="/images/social-logo.png">

<!-- Pinterest -->
<meta property="pinterest:title" content="VIETGEN EDU - Kho tài liệu tiếng Anh & tiếng Đức chất lượng">
<meta property="pinterest:description"
      content="VIETGEN EDU - Nền tảng hàng đầu cung cấp tài liệu, sách tiếng Đức và tiếng Anh. Chúng tôi mang đến nguồn tài liệu phong phú, cập nhật và phù hợp với mọi trình độ. Khám phá ngay kho tài liệu ngoại ngữ chất lượng cao cùng VIETGEN EDU!">
<meta property="pinterest:image" content="/images/social-logo.png">


<!--Geo-->
<meta name="geo.region" content="VN">
<meta name="geo.placename" content="Hanoi">
<meta name="geo.position" content="21.0285;105.8542">
<meta name="ICBM" content="21.0285, 105.8542">

<link class="favicon" rel="icon" type="image/png" href="~/Assets/images/favicon.png">

<!--lib.ico-->
<link href="~/Assets/images/logo-img.ico" rel="shortcut icon" type="image/x-icon">
<link href="~/Assets/images/logo-img.ico" rel="shortcut icon" type="image/png">
<!--<< Bootstrap min.css >>-->
<link rel="stylesheet" href="@tempPath/css/bootstrap.min.css">
<!--<< All Min Css >>-->
<link rel="stylesheet" href="@tempPath/css/all.min.css">
<!--<< Animate.css >>-->
<link rel="stylesheet" href="@tempPath/css/animate.css">
<!--<< Magnific Popup.css >>-->
<link rel="stylesheet" href="@tempPath/css/magnific-popup.css">
<!--<< MeanMenu.css >>-->
<link rel="stylesheet" href="@tempPath/css/meanmenu.css">
<!--<< Swiper Bundle.css >>-->
<link rel="stylesheet" href="@tempPath/css/swiper-bundle.min.css">
<!--<< Nice Select.css >>-->
<link rel="stylesheet" href="@tempPath/css/nice-select.css">
<!--<< Icomoon.css >>-->
<link rel="stylesheet" href="@tempPath/css/icomoon.css">
<!--<< Main.css >>-->
<link rel="stylesheet" href="@tempPath/css/main.css">