<div class="card-body">
    <table class="table table-hover table-bordered table-sticky nowrap w-100" id="usertype-getList" data-page-length="10">
        <thead>
            <tr>
                <th class="text-center" data-orderable="false"></th>
                <th class="text-center">Kiểu người dùng</th>
                <th class="text-center">Ghi chú</th>
                <th class="text-center" data-orderable="false">Tác vụ</th>
            </tr>
        </thead>
        <tfoot class="show-footer-above">
            <tr>
                <th class="text-center"><input class="form-check-input checkAll-usertype-getList" type="checkbox" title="Chọn tất cả"/></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>
            </tr>
        </tfoot>
    </table>
</div>
