<div class="card-body">
    <table class="table table-hover table-bordered table-sticky w-100 nowrap" id="loanmanage-getList" data-page-length="10">
        <thead>
            <tr>
                <th class="text-center" data-orderable="false"></th>
                <th class="text-center">Số phiếu</th>
                <th class="text-center">Tên người mượn</th>
                <th class="text-center">Hình thức mượn</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center" data-orderable="false">Tác vụ</th>
            </tr>
        </thead>
        <tfoot class="show-footer-above">
            <tr>
                <th class="text-center"><input class="form-check-input checkAll-loanmanage-getList" type="checkbox" title="Chọn tất cả" /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>
            </tr>
        </tfoot>
    </table>
</div>
