<div class="card-body">
    <div class="mb-2 toggle-vis-bar">
        Hiển thị:
        @*<a href="#" class="toggle-vis" data-table="hoso-getList" data-column="1">Mã hồ sơ</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="2">Tiêu đề hồ sơ</a> |*@
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="3">Thời hạn bảo quản</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="4">Chế độ sử dụng</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="5">Quyền truy cập</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="6">Ngôn ngữ</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="7">Thời gian BĐ</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="8">Thời gian KT</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="9">Số văn bản</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="10">Số tờ</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="11">Số trang</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="12">Tình trạng vật lý</a> |
        <a href="#" class="toggle-vis" data-table="hoso-getList" data-column="13">Tác vụ</a>
    </div>
    <table class="table table-hover table-bordered table-sticky w-100" id="hoso-getList" data-page-length="10">
        <thead class="nowrap" style="white-space: nowrap !important">
            <tr>
                <th class="text-center" data-orderable="false"></th>
                <th class="text-center">Mã hồ sơ</th>
                <th class="text-center">Tiêu đề hồ sơ</th>
                <th class="text-center">Thời hạn bảo quản</th>
                <th class="text-center">Chế độ sử dụng</th>
                <th class="text-center">Quyền truy cập</th>
                <th class="text-center">Ngôn ngữ</th>
                <th class="text-center">Thời gian BĐ</th>
                <th class="text-center">Thời gian KT</th>
                <th class="text-center">Số văn bản</th>
                <th class="text-center">Số tờ</th>
                <th class="text-center">Số trang</th>
                <th class="text-center">Tình trạng vật lý</th>
                <th class="text-center" data-orderable="false">Tác vụ</th>
            </tr>
        </thead>
        <tfoot class="show-footer-above">
            <tr>
                <th class="text-center"><input class="form-check-input checkAll-hoso-getList" type="checkbox" title="Chọn tất cả" /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>
            </tr>
        </tfoot>
    </table>
</div>
