<div class="card-body" intro-container="dulieu-container">
    <table class="table table-hover table-bordered table-sticky w-100" id="buoihocsaptoi-getList" data-page-length="5">
        <thead class="nowrap" style="white-space: nowrap !important">
            <tr>
                <th class="text-center">Tên lớp học</th>
                <th class="text-center">Thứ tự buổi</th>
                <th class="text-center">Điểm danh</th>

                <th class="text-center" intro-container="dulieu-tacvu" data-orderable="false">Tác vụ</th>
            </tr>
        </thead>
        <tfoot class="show-footer-above">
            <tr>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>

                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>
            </tr>
        </tfoot>
    </table>
</div>
