<div class="modal fade text-left" id="documentformation-huongdan" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Hướng dẫn sử dụng
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="buoc_1-tab" data-bs-toggle="pill"
                               href="#buoc_1" role="tab" aria-controls="buoc_1"
                               aria-selected="true"><span class="text-danger">#1.</span> Thêm mới</a>
                            <a class="nav-link" id="buoc_2-tab" data-bs-toggle="pill"
                               href="#buoc_2" role="tab" aria-controls="buoc_2"
                               aria-selected="true"><span class="text-danger">#2.</span> Hiển thị</a>
                            <a class="nav-link" id="buoc_3-tab" data-bs-toggle="pill"
                               href="#buoc_3" role="tab" aria-controls="buoc_3"
                               aria-selected="false"><span class="text-danger">#3.</span> Tải xuống</a>
                            <a class="nav-link" id="buoc_4-tab" data-bs-toggle="pill"
                               href="#buoc_4" role="tab" aria-controls="buoc_4"
                               aria-selected="false"><span class="text-danger">#4.</span> Nộp lưu</a>
                            <a class="nav-link" id="buoc_5-tab" data-bs-toggle="pill"
                               href="#buoc_4" role="tab" aria-controls="buoc_5"
                               aria-selected="false"><span class="text-danger">#5.</span> Văn bản</a>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="buoc_1" role="tabpanel"
                                 aria-labelledby="buoc_1-tab">
                                Hệ thống cung cấp 2 phương thức thêm hồ sơ:
                                <ul>
                                    <li><a href="#them-thucong">Thêm thủ công</a></li>
                                    <li><a href="#them-excel">Thêm excel</a></li>
                                </ul>
                                <div id="them-thucong" style="text-align: justify;">
                                    &nbsp;&nbsp;&nbsp;&nbsp; Đối với hình thức thêm hồ sơ thủ công, ta tìm tới nút <span class="font-bold">"Thao tác"</span> tại thanh tác vụ trên cùng màn hình và chọn hình thức <span class="font-bold">"Thêm mới"</span>, sau khi chọn sẽ hệ thống sẽ hiển thị một cửa sổ bao gồm các thông tin cần thiết để tạo lập một hồ sơ đầy đủ.<br />
                                    <!--Ảnh-->
                                    <!--#-->
                                    &nbsp;&nbsp;&nbsp;&nbsp; Các thông tin có chứa dấu sao (<span class="text-danger">*</span>) là loại thông tin bắt buộc nhập, các thông tin còn lại có thể để trống.<br />
                                    <!--Ảnh-->
                                    <!--#-->
                                    &nbsp;&nbsp;&nbsp;&nbsp; Nếu tích chọn ô "✔️" tại thông tin <span class="font-bold">"Thời hạn bảo quản"</span>, hệ thống sẽ hiểu bạn muốn gia hạn tài liệu <span class="text-success">"Vĩnh viễn"</span>.<br />
                                    Sau khi đã điền đầy đủ thông tin theo đúng yêu cầu, hồ sơ sẽ được kiểm tra và lưu vào hệ thống.
                                    <!--Ảnh-->
                                    <!--#-->
                                </div>
                                <div id="them-excel" style="text-align: justify;">
                                    &nbsp;&nbsp;&nbsp;&nbsp; Đối với hình thức thêm hồ sơ bằng tệp Excel, ta tìm tới nút <span class="font-bold">"Thao tác"</span> tại thanh tác vụ trên cùng màn hình và chọn hình thức <span class="font-bold">"Thêm excel"</span>, sau khi chọn sẽ hệ thống sẽ hiển thị một cửa sổ bao gồm các chức năng hỗ trợ tạo nhiều hồ sơ cùng lúc.<br />
                                    <!--Ảnh-->
                                    <!--#-->
                                    &nbsp;&nbsp;&nbsp;&nbsp; Tại đầu cửa số là các nút chức năng chính bao gồm: Làm mới, Thêm tệp, Tải xuống và Cập nhật.<br />
                                    <!--Ảnh-->
                                    <!--#-->
                                    &nbsp;&nbsp;&nbsp;&nbsp; Để tải lên một tệp excel, người dùng chọn nút <span class="font-bold">"Thêm tệp"</span>, một cửa sổ lựa chọn tệp đính kèm sẽ hiện lên.<br />
                                    <!--Ảnh-->
                                    <!--#-->

                                </div>
                            </div>
                            <div class="tab-pane fade" id="buoc_2" role="tabpanel"
                                 aria-labelledby="buoc_2-tab" style="text-align: justify !important">
                                Integer interdum diam eleifend metus lacinia, quis gravida eros mollis. Fusce
                                non sapien sit amet magna dapibus
                                ultrices. Morbi tincidunt magna ex, eget faucibus sapien bibendum non. Duis a
                                mauris ex. Ut finibus risus sed massa
                                mattis porta. Aliquam sagittis massa et purus efficitur ultricies.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <span class="">Đóng</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--documentformation-excel.hoso-capnhattruong-->
@Html.Partial("~/Views/Admin/_DocumentManage/DocumentFormation/documentformation-excel.hoso/excel.hoso-capnhattruong.cshtml")