<div class="row">
    <div class="col-12">
        <div class="mb-2 toggle-vis-bar">
            Hiển thị:
            @*<a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="0">Mã hồ sơ</a> |*@
            <a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="1">Số/Ký hiệu</a> |
            @*<a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="2">Tiêu đề hồ sơ</a> |*@ 
            <a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="3">Phông lưu trữ</a> |
            <a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="4">Thời gian bắt đầu/kết thúc</a> |
            <a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="5">Số tờ/Số trang</a> |
            <a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="6">Thời hạn bảo quản</a> |
            <a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="7">Người lập</a> |
            <a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="8">Đơn vị ban hành</a> |
            <a href="#" class="toggle-vis" data-table="report-danhmuchoso-getList" data-column="9">Ghi chú</a>
        </div>
        <table class="table table-bordered table-hover w-100" id="report-danhmuchoso-getList" data-page-length="-1">
            <thead>
                <tr class="" style="white-space: nowrap">
                    <th class="align-top text-center font-bold">Mã hồ sơ <br /><span class="text-danger">{1}</span></th>
                    <th class="align-top text-center font-bold">Số/Ký hiệu @*<br />*@<span class="text-danger">{2}</span></th>
                    <th class="align-top text-center font-bold">Tiêu đề hồ sơ <br /><span class="text-danger">{3}</span></th>
                    <th class="align-top text-center font-bold">Phông lưu trữ <br /><span class="text-danger">{4}</span></th>
                    <th class="align-top text-center font-bold">Thời gian bắt đầu/kết thúc <br /><span class="text-danger">{5}</span></th>
                    <th class="align-top text-center font-bold">Số tờ/Số trang <br /><span class="text-danger">{6}</span></th>
                    <th class="align-top text-center font-bold">Thời hạn bảo quản <br /><span class="text-danger">{7}</span></th>
                    <th class="align-top text-center font-bold">Người lập <br /><span class="text-danger">{8}</span></th>
                    <th class="align-top text-center font-bold">Đơn vị ban hành <br /><span class="text-danger">{9}</span></th>
                    <th class="align-top text-center font-bold">Ghi chú <br /><span class="text-danger">{10}</span></th>
                </tr>
            </thead>
            <tfoot class="show-footer-above">
                <tr>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>